<div class="main-container">
    <div class="post" *ngFor="let post of posts; let i = index">
        <mat-card>
            <mat-card-title>
                <span>{{post.titulo}}<span class="nome-criador">por {{post.nomeCriador}}</span></span>
                <mat-icon class="excluir-post" (click)="excluirPost(post, i)">clear</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="imagens">
                    <angular-image-slider [images]="post.imagens"></angular-image-slider>                
                </div>
                <div class="conteudo">
                    {{post.conteudo}}
                </div>                        
                <div class="link">
                    <a href="{{post.link}}">{{post.link}}</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>